<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{Title}}</title>
  </head>
  <body>
    <h1>Action Repo Details</h1>
    {%for task in tasks%}
    <h5>
      <!-- Statement as per the PDF -->
      {%if task.action == "pushed"%} <!-- For PUSH action-->
        "{{task.author}}" pushed to {{task.to_branch}} on {{task.timestamp}}
      {%elif task.action =="reopened"%} <!-- For PULl_REQUEST action when a closed request is reopened -->
        "{{task.author}}" submitted a pull request from {{task.from_branch}} to {{task.to_branch}} on {{task.timestamp}}
      {%elif task.action =="opened"%}  <!-- For PULL_REQUEST action when new request is opened-->
        "{{task.author}}" submitted a pull request from {{task.from_branch}} to {{task.to_branch}} on {{task.timestamp}}
      {%elif task.action =="synchronize"%} <!-- For MERGE action-->
        "{{task.author}}" merged branch {{task.from_branch}} to {{task.to_branch}} on {{task.timestamp}}
      {%elif task.action =="closed"%}  <!-- For PULL_REQUEST action when a request is closed-->
        "{{task.author}}" closed a pull request from {{task.from_branch}} to {{task.to_branch}} on {{task.timestamp}}
      {%endif%}
    </h5>
    {%endfor%}
    
  </body>
</html>
